<!-- Include header -->
<%- include('include/_header')%>
<!-- /Include header -->


<!-- Main-Section -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <div class="filter">
                <a href="/" class="border-shadow text-gradient" id="allUser"><i class="fas fa-angle-double-left"></i> All Users</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Add New User</h2>
            <span class="text-light">Use the below registration form to create new account.</span>
        </div>
        <!-- form handling -->
        <%- include('include/_form')%>
        <!-- /form handling -->
    </div>
</main>
<!-- Main-Section -->



<!-- Include footer -->
<%- include('include/_footer')%>
<!-- /Include footer -->
